#wrapper {
  overflow-x: hidden;
  background-color: #c1efde;
}

#sidebar-wrapper .list-group {
  width: 200px;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.side-nav {
  color: black;
  font-weight: bold;
  border: none;
  margin-left: 1cm;
  padding-top: 20px;
  padding-bottom: 50px;
  text-decoration: none;
}
#content {
  min-width: 0;
  width: 100%;
  margin-top: 74px;
  margin-left: 12px;
  margin-right: 12px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #sidebar-wrapper {
    align-items: center;
    justify-content: center;
    width: 3cm;
  }
}
@media only screen and (max-width: 320px) {
  .table {
    align-items: center;
    justify-content: center;
  }
}
